<div class="container">
  <h3>Drugs & Pharmaceuticals</h3>
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 category-banner">
          <img
            height="350px"
            src="../../assets/imgs/Drugs & Pharmaceuticals.webp"
            alt="product-images"
          />
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/common disease medicine.webp"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt">
                  <p>Common Disease Medicine</p>
                  <ul>
                    <li>Pharmaceutical Tablets</li>
                    <li>Cough Syrup</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/ayurvedic.jpeg"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt" style="padding-left: 0">
                  <p style="font-weight: 700">
                    Ayurvedic, Herbal Products & Medicine
                  </p>
                  <ul>
                    <li>Ayurvedic Medicine</li>
                    <li>Herbal Medicines</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/supplements.webp"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt" style="padding-left: 0">
                  <p style="font-weight: 700">
                    Nutraceuticals & Dietary Supplements
                  </p>
                  <ul>
                    <li>Protein Powder</li>
                    <li>Cough Syrup</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/cardio.webp"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt" style="padding-left: 0">
                  <p>Cardiovascular Drugs & Medication</p>
                  <ul>
                    <li>Antidiabetic Medicine</li>
                    <li>Antidiabetic Supplements</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/anti infective.webp"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt" style="padding-left: 0">
                  <p>Anti Infective Drugs & Medicines</p>
                  <ul>
                    <li>Antibiotic Tablets</li>
                    <li>Azithromycin Tablets</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row subcategory">
                <div class="col-lg-5">
                  <img
                    src="../../assets/imgs/pain relief.webp"
                    alt="product-images"
                  />
                </div>
                <div class="col-lg-6 subcategory-txt" style="padding-left: 0">
                  <p>Pain Relief Drugs & Pharmaceuticals</p>
                  <ul>
                    <li>Paracetamol Tablets</li>
                    <li>Pain Killers</li>
                    <li>+ View All</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
