.input-form-button {
  background-color: black;
  border: none;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 45px;
  top: 1px;
  position: relative;
}

.services-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}

.icon-size {
  font-size: 10px;
}
.services-btn {
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  margin-top: 10px;
}
.services-btn p {
  font-size: 15px;
}

.services-btn:hover {
  color: rgb(255, 51, 0);
}
.input-form-button:hover {
  background-color: rgb(148, 8, 8);
  color: white;
}

.input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.header input {
  height: 50px;
  width: 50vw;
  border: none;
  border-radius: 25px;
  padding-left: 30px;
  margin-left: 50px;
  font-size: 22px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.logo {
  cursor: pointer;
}
