.container-box {
    background-color: #eeeeee;
    width: auto;
    border-radius: 0px 0px 16px 16px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
    position: relative;
}

.head-section {
    background-color: #fff;
    padding: 15px;
    align-items: end;
}

.head-content {
    align-items: center;
    float: left;
    padding: 0px;
}

.global-btn {
    background-color: #b51718;
    padding: auto;
    font-size: smaller;
}

.global-btn:hover {
    background-color: #212121;
}

.seller-lbl {
    justify-content: center;
    margin-bottom: 10px;
}

.img-thumbnail {
    min-width: 35%;
    max-width: 35%;
    padding: 0;
}

.detail-section {
    background-color: #fff;
    border: 2px solid red;
    border-radius: 7px;
    padding: 10px;
    width: auto;
}

.enquiry-btn {
    background-color: #b51718;
    padding: 15px 30px;
    font-size: larger;
}

.enquiry-btn:hover {
    background-color: #212121;
}

.related-picture {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    margin: -155px 74%;
}

.related-picture img {
    height: 50%;
    max-width: 63%;
    padding: 0;
}