<div class="container container-box shadow-sm">
  <div class="row head-section">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 head-content">
      <div class="row">
        <div>
          <img src="../../../assets/icons/company_logo.png" height="50rem" />
          <span>Roljack Asia Ltd. </span>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-map-marker p-1" aria-hidden="true"></i>
          <span>address Lorem, ipsum dolor.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 head-content">
      <div class="row">
        <div class="text-center pb-2">
          <span>gst number</span>
        </div>
        <div class="row">
          <div class="p-0 text-center">
            <i
              class="fa fa-user p-1"
              style="font-size: 20px"
              aria-hidden="true"
            ></i>
            <span>Lorem ipsum dolor sit amet,</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 head-content">
      <div class="row">
        <div class="d-flex seller-lbl">
          <img
            src="../../../assets/icons/Premium Seller Icon.png"
            style="height: fit-content"
            alt=""
          />
          <img
            src="../../../assets/icons/Trusted Seller icon.png"
            style="height: fit-content"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <button class="btn btn-primary global-btn">view number</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ************ Middle Section *************** -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-4 col-sm-12">
          <div class="border rounded-4 mb-3" style="width: 70%">
            <img
              style="
                min-width: 100%;
                object-fit: fill;
                max-height: 100vh;
                margin: auto;
              "
              class="rounded-4 fit product-img"
              id="main-img"
              src="assets/imgs/product-imgs/product_image1.png"
            />
          </div>
          <div
            class="d-flex justify-content-center mb-3"
            style="column-gap: 10px"
          >
            <img
              width="60"
              height="60"
              class="rounded-2 similar-img"
              src="assets/imgs/product-imgs/product_image2.png"
              (click)="myFunction($event.target)"
            />

            <a
              data-fslightbox="mygalley"
              class="border mx-1 rounded-2"
              target="_blank"
              data-type="image"
              href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp"
              class="item-thumb"
            >
              <img
                width="60"
                height="60"
                class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png"
              />
            </a>
            <a
              data-fslightbox="mygalley"
              class="border mx-1 rounded-2"
              target="_blank"
              data-type="image"
              href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp"
              class="item-thumb"
            >
              <img
                width="60"
                height="60"
                class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png"
              />
            </a>
            <a
              data-fslightbox="mygalley"
              class="border mx-1 rounded-2"
              target="_blank"
              data-type="image"
              href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp"
              class="item-thumb"
            >
              <img
                width="60"
                height="60"
                class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png"
              />
            </a>
            <a
              data-fslightbox="mygalley"
              class="border mx-1 rounded-2"
              target="_blank"
              data-type="image"
              href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp"
              class="item-thumb"
            >
              <img
                width="60"
                height="60"
                class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png"
              />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-5">
          <div class="ps-lg-3">
            <h4
              class="title text-dark"
              style="font-size: xx-large; color: #b51718 !important"
            >
              Mild Steel 36X24 inch Single Toggle jaw Crusher
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1"> 4.5 </span>
              </div>
              <span
                class="text-muted"
                style="color: #b51718 !important; text-decoration: underline"
                ><i class="fas fa-shopping-basket fa-sm mx-1"></i>get Latest
                price</span
              >
              <!-- <span class="text-success ms-2">In stock</span> -->
            </div>

            <div class="mb-3">
              <span class="h5">₹95,50000</span>
              <span class="text-muted">/per piece</span>
            </div>

            <div class="row detail-section mb-3">
              <dt class="col-5">material:</dt>
              <dd class="col-7">Mild Steel</dd>

              <dt class="col-5">Capacity:</dt>
              <dd class="col-7">100 TPH on close side setting of 150mm</dd>

              <dt class="col-5">Brand:</dt>
              <dd class="col-7">Roljack Asia Limited</dd>

              <dt class="col-5">Automation Grade:</dt>
              <dd class="col-7">Automatic</dd>

              <dt class="col-5">Warrenty:</dt>
              <dd class="col-7">1 Year</dd>
            </div>

            <p>
              Modern look and quality demo item is a streetwear-inspired
              collection that continues to break away from the conventions of
              mainstream fashion. Made in Italy, these black and brown clothing
              low-top shirts for men.
            </p>
            <div class="row align-items-center">
              <div class="col-lg-6 text-start">
                <a style="cursor: pointer">
                  <span
                    class="text-muted"
                    style="
                      color: #b51718 !important;
                      text-decoration: underline;
                    "
                    ><i class="fas fa-shopping-basket fa-sm mx-1"></i>view
                    complete details</span
                  >
                </a>
              </div>
              <div class="col-lg-6 text-end">
                <button class="btn btn-primary enquiry-btn">
                  Send Enquiry
                </button>
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-3 related-picture shadow-sm">
          <div class="row text-center">
            <h3>Related products</h3>
          </div>
          <hr />
          <div class="row text-center" style="justify-content: center">
            <img
              src="../../../assets/imgs/product-imgs/product_image2.png"
              alt="..."
              class="img-thumbnail"
            />
            <span class="align-items-center">product name</span>
          </div>
          <div class="row text-center" style="justify-content: center">
            <img
              src="../../../assets/imgs/product-imgs/product_image2.png"
              alt="..."
              class="img-thumbnail"
            />
            <span>product name</span>
          </div>
          <div class="row text-center" style="justify-content: center">
            <img
              src="../../../assets/imgs/product-imgs/product_image2.png"
              alt="..."
              class="img-thumbnail"
            />
            <span>product name</span>
          </div>
        </aside>
      </div>
    </div>
    <div class="container row">
      <div class="col-lg-12">
        <hr />
        <h3>About company</h3>
        <p>
          Roljack is the production Of goods or services here within an economy
          indicator Of its relevant, Roljack is a world leader in the field Of
          Crushing — Screening solution, Stone Engineering Solution,
          Construction Solution, Fabrication industries, etc. With our unique
          knowledge and innovative solutions, we help our customers improve
          their operational efficiency, reduce risks and increase profitability.
        </p>
      </div>
    </div>
  </section>
</div>
<!-- **************** END SECTION ****************** -->
<section class="">
  <div class="container container-box shadow-sm p-5">
    <div>
      <h1>Similar Product</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-1 icon text-end">
        <a href="">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-lg-2 mx-4">
        <div class="card" style="width: 15rem">
          <img
            src="../../../assets/imgs/product-imgs/product_image2.png"
            class="card-img-top"
            height="200"
            width="100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">26X16 inch single toggle Jaw Crusher</p>
            <a href="#">Get a quote -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mx-4">
        <div class="card" style="width: 15rem">
          <img
            src="../../../assets/imgs/product-imgs/product_image1.png"
            class="card-img-top"
            height="200"
            width="100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">26X16 inch single toggle Jaw Crusher</p>
            <a href="#">Get a quote -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mx-4">
        <div class="card" style="width: 15rem">
          <img
            src="../../../assets/imgs/product-imgs/product_image2.png"
            class="card-img-top"
            height="200"
            width="100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">26X16 inch single toggle Jaw Crusher</p>
            <a href="#">Get a quote -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mx-4">
        <div class="card" style="width: 15rem">
          <img
            src="../../../assets/imgs/product-imgs/product_image1.png"
            class="card-img-top"
            height="200"
            width="100"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">26X16 inch single toggle Jaw Crusher</p>
            <a href="#">Get a quote -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-1 icon text-end">
        <a href="">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>
