.container-box {
    background-color: #eeeeee;
    height: 80vh;
    width: auto;
    margin: 80px 160px;
    border-radius: 0px 0px 16px 16px;
    column-gap: 0px;
}

.head-section {
    background-color: #fff;
    width: 80%;
    gap: 6px;
    justify-content: space-between;
    float: left;
    align-items: center;
    height: auto;
}