<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 a align-items-start">
      <div class="list-group related-category">
        <h4 class="list-group-item list-group-item-action">
          Related Categories
        </h4>
        <a href="{{ item.link }}" class="list-group-item list-group-item-action" *ngFor="let item of listItems">{{
          item.name }}</a>
      </div>
    </div>
    <div class="col-md-7 shadow-sm product-container">
      <div class="premium-lbl rounded-top shadow-sm ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="assets/icons/Premium Seller Icon.png" alt="">
            <img src="../../../assets/icons/Trusted Seller icon.png" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end p-1">
            <div class="row">
              <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="cursor: pointer;">
                <i class="fa fa-file-pdf-o product-container-img" aria-hidden="true"></i>
                <br>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="cursor: pointer;">
                <i class="fa fa-youtube-play product-container-img" aria-hidden="true"></i>
                <br>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="d-flex pb-3" style="column-gap: 2rem; padding: 20px;">
        <div class="col-lg-8">
          <h3>Jaw Crusher (single toggle)</h3>
          <p>
            PREMIUM SELLER <br />
            INR. 10,00,000/- Piece <br />
            Brand: Roljack Asia Limited <br />
            Automation Grade: Automatic <br />
            Material: Special Alloy Steel <br />
            Power: 50 HP - 200 HP <br />
            Motor Type; AC Motor
          </p>
          <p>
            <a href="#">Read more...</a>
          </p>
          <div class="d-flex gap-3 ">
            <a href="#" class="btn btn-primary enquiry-btn">Send Inquiry</a>
            <a href="#" class="btn btn-primary enquiry-btn">View Number</a>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="col-md-3 text-center">
          <div class="img-section img-thumbnail">
            <img src="assets/imgs/product-imgs/product_image1.png" alt="">
            <span style="color: red; text-decoration: underline;">Roljack Asia Limited</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 a align-items-start">
      <div class="list-group related-category">
        <h4 class="list-group-item list-group-item-action">
          Related Tags
        </h4>
        <a href="{{ item.link }}" class="list-group-item list-group-item-action" *ngFor="let item of listItems">{{
          item.name }}</a>
      </div>
    </div>
    <div class="col-md-7 shadow-sm product-container">
      <!-- <div class="premium-lbl rounded-top shadow-sm ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="assets/icons/Premium Seller Icon.png" alt="">
            <img src="../../../assets/icons/Trusted Seller icon.png" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end p-1">
            <div class="row">
              <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="cursor: pointer;">
                <i class="fa fa-file-pdf-o product-container-img" aria-hidden="true"></i>
                <br>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="cursor: pointer;">
                <i class="fa fa-youtube-play product-container-img" aria-hidden="true"></i>
                <br>
              </div>
            </div>
          </div>
        </div>

      </div> -->
      <div class="d-flex pb-3" style="column-gap: 2rem; padding: 20px;">
        <div class="col-lg-8">
          <h3>Jaw Crusher (single toggle)</h3>
          <p>
            PREMIUM SELLER <br />
            INR. 10,00,000/- Piece <br />
            Brand: Roljack Asia Limited <br />
            Automation Grade: Automatic <br />
            Material: Special Alloy Steel <br />
            Power: 50 HP - 200 HP <br />
            Motor Type; AC Motor
          </p>
          <p>
            <a href="#">Read more...</a>
          </p>
          <div class="d-flex gap-3 align-items-center ">
            <a href="#" class="btn btn-primary enquiry-btn">Send Inquiry</a>
            <a href="#" class="btn btn-primary enquiry-btn">View Number</a>
            <i class="fa fa-file-pdf-o product-container-img" aria-hidden="true"></i>
            <i class="fa fa-youtube-play product-container-img" aria-hidden="true"></i>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="col-md-3 text-center">
          <div class="img-section img-thumbnail">
            <img src="assets/imgs/product-imgs/product_image2.png" alt="">
            <span style="color: red; text-decoration: underline;">R.Techno Ltd.</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>