<!-- <div class="header-wrapper">
  <div class="header_section">
    <div class="container">
      <div class="row inpt-div">
        <div class="col-xs-12 col-sm-12">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search any product/service"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary search-btn-input"
              type="button"
              style="background: #b51718"
            >
              <i class="fa fa-search"></i>
              <span>&nbsp; Search</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="banner-container" style="">
  <img
    class="img-fluid banner-img"
    src="../../../assets/imgs/header-bg.png"
    alt=""
    style=""
  />
  <div class="d-flex center-search-box rounded-4" id="inpt-box" style="">
    <input
      type=""
      class="form-control border-0 search-input"
      placeholder="Enter product/Service name...."
      style=""
    />
    <button
      type="button"
      class="btn btn-danger rounded-3 d-flex align-items-center search-btn"
      style=""
    >
      <span>Search</span>
      <i class="fa fa-search ms-2" aria-hidden="true"></i>
    </button>
  </div>
</div>
