<!-- <div class="header-wrapper">
  <div class="header_section">
    <div class="container">
      <div class="row inpt-div">
        <div class="col-xs-12 col-sm-12">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search any product/service"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary search-btn-input"
              type="button"
              style="background: #b51718"
            >
              <i class="fa fa-search"></i>
              <span>&nbsp; Search</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="banner-container" style="position: relative">
  <img
    class="img-fluid"
    src="../../../assets/imgs/header-bg.png"
    alt=""
    style="width: 100%"
  />
  <div
    class="d-flex center-search-box rounded-4"
    style="
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 10px;
      background-color: #f1f1f1;
      box-shadow: 0px 0px 15px #555;
      width: 50%;
    "
  >
    <input
      type=""
      class="form-control border-0"
      placeholder="Enter product/Service name...."
      style="background-color: inherit; font-size: 22px"
    />
    <button
      type="button"
      class="btn btn-danger rounded-3 d-flex align-items-center"
      style="font-size: 24px"
    >
      <span>Search</span>
      <i class="fa fa-search ms-2" aria-hidden="true"></i>
    </button>
  </div>
</div>
