<div class="row" style="background-color: black; align-items: center">
  <div class="col-6">
    <a href="index.html">
      <img
        class="img-fluid"
        src="assets/imgs/logo-white.png"
        style="max-height: 80px"
      />
    </a>
  </div>
  <div class="col-6" style="text-align: end">
    <a style="color: #ffffff; align-items: end">
      <span>Login | Signup</span>
      <i
        class="fa fa-user"
        aria-hidden="true"
        style="margin-left: 10px; font-size: 20px"
      ></i>
    </a>
  </div>
</div>
